In [2]:
import pandas as pd

#concatenating datasets with pandas
dummy_dataset1 = ({'serial_id':['1','2','3','4','5'],
                 'sale_month':['Jan','Feb','Mar','Apr','May'],
                 'sale':['12300','25600','17800','20100','21000']})
df1 = pd.DataFrame(dummy_dataset1)

dummy_dataset2 =  ({'serial_id':['1','2','3','4','5'],
                    'sale_month':['Jun','Jul','Aug','Sep','Oct'],
                    'sale':['12300','25100','17800','20100','21000']})
df2 = pd.DataFrame(dummy_dataset2)

#concatenate the first two dataframes in a new dataframe df3
df3 = pd.concat([df1, df2], ignore_index=True)

dummy_dataset3 = ({'sales_threshold':['Yes','No','No','Yes','Yes','Yes','Yes','Yes','Yes','Yes'],
                   'bonus_threshold':['No','Yes','No','No','No','Yes','No','Yes','Yes','No']})
df4 = pd.DataFrame(dummy_dataset3, columns = ['sales_threshold','bonus_threshold'])

#create a concatenation of df3 and df4
df5 = pd.concat([df3,df4], axis=1)


#now we shift attention to  merging datasets
df_1 = pd.DataFrame({'Product':['Prod_1','Prod_2','Prod_3','Prod_4'],
                     'Division':['Div_A','Div_B','Div_C','Div_B']})
df_2 = pd.DataFrame({'Sales':['12500','10800','5600','7900'],
                     'Product':['Prod_3','Prod_2','Prod_4','Prod_1']})
#create a df_3 with df_1 and df_2
df_3 = pd.merge(df_1, df_2, on='Product')

#create a df_4 with more data, see below
df_4 = pd.DataFrame ({'Division':['Div_A','Div_B','Div_C'],
                      'Manager':['Victor','Sam','Usman']})

#now create a fifth dataframe merging df_4 and df_3 (many to one join)
df_5 = pd.merge(df_3, df_4)

#now let's practice many to many join
df_6 = pd.DataFrame({'Division':['Div_A','Div_A','Div_B','Div_C','Div_C','Div_C'],
                     'Emp_grad':['13','14+','12','11','10','9-']})

#now let's join df_6 to df_1
df_7 = pd.merge(df_1, df_6)

#now let's do a join to practice left_on and right_on
df_8 = pd.DataFrame({'Project':['Prod_1','Prod_2','Prod_3','Prod_4'],
                     'Division':['Div_A','Div_B','Div_C','Div_B']})

#create a merger of df_8 and df_2
df_9 = pd.merge(df_8, df_2, left_on='Project',right_on='Product')
df_9 #the result is project to the left and product to the right

#now let's drop an axis product
drop_product = pd.merge(df_8, df_2, left_on='Project',right_on='Product').drop('Product', axis=1)
display(drop_product) #this drops the product column

  Project Division  Sales
0  Prod_1    Div_A   7900
1  Prod_2    Div_B  10800
2  Prod_3    Div_C  12500
3  Prod_4    Div_B   5600

In [39]:
user_usage = pd.read_csv('user_usage.csv')
user_device = pd.read_csv('user_device.csv')
devices = pd.read_csv('android_devices.csv')

,Retail Branding,Marketing Name,Device,Model
0,NaN,NaN,AD681H,Smartfren Andromax AD681H
1,NaN,NaN,FJL21,FJL21
2,NaN,NaN,T31,Panasonic T31
3,NaN,NaN,hws7721g,MediaPad 7 Youth 2
4,3Q,OC1020A,OC1020A,OC1020A
5,7Eleven,IN265,IN265,IN265
6,A.O.I. ELECTRONICS FACTORY,A.O.I.,TR10CS1_11,TR10CS1
7,AG Mobile,AG BOOST 2,BOOST2,E4010
8,AG Mobile,AG Flair,AG_Flair,Flair
9,AG Mobile,AG Go Tab Access 2,AG_Go_Tab_Access_2,AG_Go_Tab_Access_2
10,AG Mobile,AG Ultra2,AG_Ultra2,Ultra 2
11,AG Mobile,AG_Go-Tab_Access,md789hwag,AG Go-Tab Access
12,AG Mobile,AG_Tab_7_0,AG_Tab_7_0,AG_Tab_7_0
13,AG Mobile,Boost,Boost,Boost
14,AG Mobile,Chacer,Chacer,Chacer
15,AG Mobile,Freedom Access,Freedom_Access,Freedom Access
16,AG Mobile,Freedom E,Freedom_E,Freedom E
17,AG Mobile,Freedom Plus LTE,Freedom_Plus_LTE,Freedom Plus LTE
18,AG Mobile,Ghost,Ghost,Ghost
19,AG Mobile,Glow,Glow,Glow
20,AG Mobile,HASHTAG,Hashtag,Hashtag
21,AG Mobile,Hype,Hype,Hype
22,AG Mobile,Neon,Neon,Neon
23,AG Mobile,Quest,Quest,Quest
24,AG Mobile,Rage,Rage,Rage
25,AG Mobile,STYLE PLUS,STYLE_PLUS,STYLE_PLUS
26,AG Mobile,Shine,Shine,Shine
27,AG Mobile,Status,Status,Status
28,AG Mobile,Style,Style,Style
29,AG Mobile,Style_2,Style_2,Style 2
...,...,...,...,...
170,Acer,Liquid Z330,T01,T01
171,Acer,Liquid Z4,acer_Z6,Z160
172,Acer,Liquid Z410,acer_z410,Z410
173,Acer,Liquid Z5,acer_ZXL,Z150
174,Acer,Liquid Z500,acer_Z500,Z500
175,Acer,Liquid Z520,acer_z520,Z520
176,Acer,Liquid Z530,acer_T02,T02
177,Acer,Liquid Z530S,acer_t05,T05
178,Acer,Liquid Z6,acer_t09,T09
179,Acer,Liquid Z6 Plus,acer_t11,T11
180,Acer,Liquid Z630,acer_t03,T03
181,Acer,Liquid Z630S,acer_t04,T04
182,Acer,Liquid Z6E,acer_t10,T10
183,Acer,Liquid Zest,acer_t06,T06
184,Acer,Liquid Zest 4G,acer_t07,T07
185,Acer,Liquid Zest Plus,acer_t08,T08
186,Acer,LiquidMT,a4,Acer Liquid Metal
187,Acer,LiquidMT,a4,Liquid MT
188,Acer,LiquidMT,a4,Liquid Metal
189,Acer,M3-2200,da2,M3-2200
190,Acer,MWND1,MW1,MWND1
191,Acer,N3-2200,da2,N3-2200
192,Acer,Picasso,picasso,A501
193,Acer,Picasso,ventana,A500
194,Acer,Picasso,ventana,G100W
195,Acer,Picasso,ventana,TPA60W
196,Acer,TA2,ta2,TA272HUL
197,Acer,TA272HUL,ta2,TA272HUL
198,Acer,TPA60W,maya,TPA60W
199,Acer,Tab 7,td070va1,TD070VA1

In [ ]:
# Merging user_usage with user_devices (Default is inner-join)

In [15]:
result = pd.merge(user_usage,  user_device[['use_id','platform','device']], on = 'use_id')

In [20]:
print('User_usage dimesions: {}'.format(user_usage.shape))
print('User_device dimensions: {}'.format(user_device[['use_id','platform','device']].shape))

User_usage dimesions: (240, 4)
User_device dimensions: (272, 3)

In [77]:
# by virtue of default inner merge, only the 159 corresponding values will be used in the join
user_usage['use_id'].isin(user_device['use_id']).value_counts()

True     159
False     81
Name: use_id, dtype: int64

In [22]:
#inner merge/inner join - default behaviour
#left merge/left join - keep every row in left DF, add NaN for all missing values of 'ON' in the left
#right merge/right join - keep every row in right DF, add NaN for all missing values of 'ON' in the right
#full outer join - return all the values from the rows to the right and left. put NaN where no fit

In [38]:
result_lm = pd.merge(user_usage,  user_device[['use_id','platform','device']], how = 'left')
print('User_usage dimensions: {}'.format(user_usage.shape))
print('Result dimensions: {}'.format(result_lm.shape))
print('There are {} missing  values in the result'.format(result_lm['device'].isnull().sum()))

Dimensions of user_usage: (240, 4)
Dimensions of result: (240, 6)
There are 81 missing  values in the result

In [49]:
result_rm = pd.merge(user_usage,  user_device[['use_id','platform','device']], how = 'right')
print('User_device dimensions: {}'.format(user_device.shape))
print('Result dimensions: {}'.format(result_rm.shape))
print('There are {} missing  values in the result'.format(result_rm['monthly_mb'].isnull().sum()))
print("There are {} missing results in the 'platform' column in the result".format(user_device['platform'].isnull().sum()))

User_device dimensions: (272, 6)
Result dimensions: (272, 6)
There are 113 missing  values in the result
There are 0 missing results in the 'platform' column in the result

In [67]:
print("There are {} unique values of use_id in our dataframes".format(pd.concat([user_usage['use_id'],user_device['use_id']]).unique().shape[0]))
result_om = pd.merge(user_usage, user_device[['use_id','platform','device']], on='use_id',how='outer', indicator=True)
print('Outer merge result has {} rows'.format(result_om.shape))

There are 353 unique values of use_id in our dataframes
Outer merge result has (353, 7) rows

In [71]:
print("There are {} rows with no missing values.".format((result_om.apply(lambda x: x.isnull().sum(), axis=1) == 0).sum()))

There are 159 rows with no missing values.

In [73]:
result_om.iloc[[0,1,200,201,350,351]]

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device,_merge
0,21.97,4.82,1557.33,22787,android,GT-I9505,both
1,1710.08,136.88,7267.55,22788,android,SM-G930F,both
200,28.79,29.42,3114.67,23988,NaN,NaN,left_only
201,616.56,99.85,5414.14,24006,NaN,NaN,left_only
350,NaN,NaN,NaN,23050,ios,"iPhone7,2",right_only
351,NaN,NaN,NaN,23051,ios,"iPhone7,2",right_only

In [23]:
#Final merge - adding device manufacturer
result_add = pd.merge(user_usage, user_device [['use_id','platform','device']],
                     on='use_id',how='left')

#Now based on the 'device' column in result, match the "Model" column in devices
devices.rename(columns={"Retail Branding": "manufacturer"}, inplace=True)
result_fin = pd.merge(result_add, devices[['manufacturer','Model']],
                 left_on = 'device',
                 right_on = 'Model',
                 how = 'left')

In [30]:
result_fin.head()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device,manufacturer,Model
0,21.97,4.82,1557.33,22787,android,GT-I9505,Samsung,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F,Samsung,SM-G930F
2,1710.08,136.88,7267.55,22789,android,SM-G930F,Samsung,SM-G930F
3,94.46,35.17,519.12,22790,android,D2303,Sony,D2303
4,71.59,79.26,1557.33,22792,android,SM-G361F,Samsung,SM-G361F

In [32]:
#Output data to a CSV file
#Use Index=False to not include row numbers in the output file
#Use utf8 encoding to avoid character issues
result_fin.to_csv("mobileinfo.csv", index = False, encoding = 'utf8')

In [45]:
devices[devices.Model == 'SM-G930F']

      Retail Branding Marketing Name   Device     Model
10381         Samsung      Galaxy S7  herolte  SM-G930F

In [69]:
devices[devices.Device.str.startswith('GT')] #querying the database

      Retail Branding          Marketing Name     Device      Model
1095          Bitmore                 GTAB700    GTAB700   NID_7010
1096          Bitmore                 GTAB900    GTAB900       S952
2402          Grundig                 GTB1050    GTB1050   GTB 1050
2403          Grundig                  GTB850     GTB850    GTB 850
2404          Grundig                 TC69CA2     GTB801    GTB 801
9125          Samsung                     NaN  GT-I5510M  GT-I5510M
9126          Samsung                     NaN  GT-I5510T  GT-I5510T
9127          Samsung                     NaN  GT-I5800L  GT-I5800L
9128          Samsung                     NaN  GT-N7000B  GT-N7000B
9129          Samsung                     NaN  GT-P7300B  GT-P7300B
9130          Samsung                     NaN  GT-P7320T  GT-P7320T
9131          Samsung                     NaN  GT-P7500M  GT-P7500M
9132          Samsung                     NaN  GT-P7500R  GT-P7500R
9133          Samsung                     NaN  GT-P7500V  GT-P7500V
9134          Samsung                     NaN   GT-S5698   GT-S5698
9135          Samsung                     NaN   GT-S5820   GT-S5820
9136          Samsung                     NaN  GT-S5830V  GT-S5830V
9173          Samsung                Absolute   GT-B9120   GT-B9120
9184          Samsung                  Europa  GT-I5500B  GT-I5500B
9185          Samsung                  Europa  GT-I5500L  GT-I5500L
9186          Samsung                  Europa  GT-I5500M  GT-I5500M
9187          Samsung                  Europa  GT-I5503T  GT-I5503T
9188          Samsung                  Europa  GT-I5510L  GT-I5510L
9191          Samsung          Galaxy (China)   GT-B9062   GT-B9062
9288          Samsung              Galaxy Ace   GT-S5830   GT-S5830
9289          Samsung              Galaxy Ace  GT-S5830B  GT-S5830B
9290          Samsung              Galaxy Ace  GT-S5830C  GT-S5830C
9291          Samsung              Galaxy Ace  GT-S5830D  GT-S5830D
9292          Samsung              Galaxy Ace  GT-S5830F  GT-S5830F
9293          Samsung              Galaxy Ace  GT-S5830G  GT-S5830G
...               ...                     ...        ...        ...
10480         Samsung          Galaxy Tab 7.7   GT-P6800   GT-P6800
10481         Samsung          Galaxy Tab 7.7   GT-P6810   GT-P6810
10484         Samsung          Galaxy Tab 8.9   GT-P7300   GT-P7300
10485         Samsung          Galaxy Tab 8.9   GT-P7310   GT-P7310
10486         Samsung          Galaxy Tab 8.9   GT-P7320   GT-P7320
10778         Samsung                Galaxy W   GT-I8150   GT-I8150
10779         Samsung                Galaxy W  GT-I8150B  GT-I8150B
10780         Samsung                Galaxy W  GT-I8150T  GT-I8150T
10796         Samsung           Galaxy Xcover   GT-S5690   GT-S5690
10797         Samsung           Galaxy Xcover  GT-S5690L  GT-S5690L
10798         Samsung           Galaxy Xcover  GT-S5690M  GT-S5690M
10799         Samsung           Galaxy Xcover  GT-S5690R  GT-S5690R
10804         Samsung                Galaxy Y   GT-S5360   GT-S5360
10805         Samsung                Galaxy Y  GT-S5360B  GT-S5360B
10806         Samsung                Galaxy Y  GT-S5360L  GT-S5360L
10807         Samsung                Galaxy Y  GT-S5360T  GT-S5360T
10808         Samsung                Galaxy Y   GT-S5363   GT-S5363
10809         Samsung                Galaxy Y   GT-S5368   GT-S5368
10810         Samsung                Galaxy Y   GT-S5369   GT-S5369
10813         Samsung           Galaxy Y Duos   GT-S6102   GT-S6102
10814         Samsung           Galaxy Y Duos  GT-S6102B  GT-S6102B
10815         Samsung           Galaxy Y Duos  GT-S6102E  GT-S6102E
10818         Samsung            Galaxy Y Pop   GT-S6108   GT-S6108
10819         Samsung            Galaxy Y Pro   GT-B5510   GT-B5510
10820         Samsung            Galaxy Y Pro  GT-B5510B  GT-B5510B
10821         Samsung            Galaxy Y Pro  GT-B5510L  GT-B5510L
10822         Samsung       Galaxy Y Pro Duos   GT-B5512   GT-B5512
10823         Samsung       Galaxy Y Pro Duos  GT-B5512B  GT-B5512B
10824         Samsung             Galaxy Y TV   GT-S5367   GT-S5367
10979           Sharp  AQUOS SERIE mini SHV38        GTQ      SHV38

[164 rows x 4 columns]

In [48]:
#calculating statistics on the final result

In [49]:
result_fin.head()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device,manufacturer,Model
0,21.97,4.82,1557.33,22787,android,GT-I9505,Samsung,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F,Samsung,SM-G930F
2,1710.08,136.88,7267.55,22789,android,SM-G930F,Samsung,SM-G930F
3,94.46,35.17,519.12,22790,android,D2303,Sony,D2303
4,71.59,79.26,1557.33,22792,android,SM-G361F,Samsung,SM-G361F

In [52]:
result_fin.groupby("manufacturer").agg({"outgoing_mins_per_month": "mean",
                                       "outgoing_sms_per_month": "mean",
                                       "monthly_mb": "mean",
                                       "use_id": "count"
                                       })

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id
manufacturer,,,,
HTC,299.842955,93.059318,5144.077955,44
Huawei,81.526667,9.500000,1561.226667,3
LGE,111.530000,12.760000,1557.330000,2
Lava,60.650000,261.900000,12458.670000,2
Lenovo,215.920000,12.930000,1557.330000,2
Motorola,95.127500,65.666250,3946.500000,16
OnePlus,354.855000,48.330000,6575.410000,6
Samsung,191.010093,92.390463,4017.318889,108
Sony,177.315625,40.176250,3212.000625,16
Vodafone,42.750000,46.830000,5191.120000,1
ZTE,42.750000,46.830000,5191.120000,1

In [53]:
#Analyzing Mobile Phone Call History with Pandas

In [74]:
#Creating the dataframe
df_pr = pd.read_csv("phone_data.csv")
df_pr.dtypes

index             int64
date             object
duration        float64
item             object
month            object
network          object
network_type     object
dtype: object

In [56]:
import dateutil

In [90]:
#convert date from  string to date times
df_pr['date'] = df_pr['date'].apply(dateutil.parser.parse, dayfirst = True)

In [89]:
df_pr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830 entries, 0 to 829
Data columns (total 7 columns):
index           830 non-null int64
date            830 non-null datetime64[ns]
duration        830 non-null float64
item            830 non-null object
month           830 non-null object
network         830 non-null object
network_type    830 non-null object
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 45.5+ KB

In [60]:
#print the short summary of the dataframe by setting verbos = False
df_pr.info(verbose = False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830 entries, 0 to 829
Columns: 7 entries, index to network_type
dtypes: float64(1), int64(1), object(5)
memory usage: 45.5+ KB

In [61]:
#print the full summary of the dataframe with null count excluded
df_pr.info(verbose = True, null_counts = False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830 entries, 0 to 829
Data columns (total 7 columns):
index           int64
date            object
duration        float64
item            object
month           object
network         object
network_type    object
dtypes: float64(1), int64(1), object(5)
memory usage: 45.5+ KB

In [62]:
#viewing and sub-setting data
df_pr['duration'].head()

0    34.429
1    13.000
2    23.000
3     4.000
4     4.000
Name: duration, dtype: float64

In [63]:
df_pr.iloc[:,2].head() #using numeric indexing function 'iloc'

0    34.429
1    13.000
2    23.000
3     4.000
4     4.000
Name: duration, dtype: float64

In [64]:
df_pr.iloc[:, [0,4,5,6]]
#using numeric indexing with the iloc selector and a list of column numbers

     index    month    network network_type
0        0  2014-11       data         data
1        1  2014-11   Vodafone       mobile
2        2  2014-11     Meteor       mobile
3        3  2014-11      Tesco       mobile
4        4  2014-11      Tesco       mobile
5        5  2014-11      Tesco       mobile
6        6  2014-11       data         data
7        7  2014-11      Three       mobile
8        8  2014-11      Three       mobile
9        9  2014-11  voicemail    voicemail
10      10  2014-11      Three       mobile
11      11  2014-11     Meteor       mobile
12      12  2014-11     Meteor       mobile
13      13  2014-11       data         data
14      14  2014-11      Tesco       mobile
15      15  2014-11      Tesco       mobile
16      16  2014-11     Meteor       mobile
17      17  2014-11   Vodafone       mobile
18      18  2014-11   Vodafone       mobile
19      19  2014-11      Three       mobile
20      20  2014-11   Vodafone       mobile
21      21  2014-11      Tesco       mobile
22      22  2014-11   Vodafone       mobile
23      23  2014-11   Vodafone       mobile
24      24  2014-11   Vodafone       mobile
25      25  2014-11   Vodafone       mobile
26      26  2014-11       data         data
27      27  2014-11      Tesco       mobile
28      28  2014-11   Vodafone       mobile
29      29  2014-11   Vodafone       mobile
..     ...      ...        ...          ...
800    800  2015-03  voicemail    voicemail
801    801  2015-03  voicemail    voicemail
802    802  2015-03     Meteor       mobile
803    803  2015-03      Tesco       mobile
804    804  2015-03       data         data
805    805  2015-03   landline     landline
806    806  2015-03      Three       mobile
807    807  2015-03   Vodafone       mobile
808    808  2015-03   Vodafone       mobile
809    809  2015-03   Vodafone       mobile
810    810  2015-03      Three       mobile
811    811  2015-03       data         data
812    812  2015-03   Vodafone       mobile
813    813  2015-03   Vodafone       mobile
814    814  2015-03      Three       mobile
815    815  2015-03      Three       mobile
816    816  2015-03   landline     landline
817    817  2015-03       data         data
818    818  2015-03       data         data
819    819  2015-03       data         data
820    820  2015-03       data         data
821    821  2015-03       data         data
822    822  2015-03       data         data
823    823  2015-03       data         data
824    824  2015-03       data         data
825    825  2015-03      world        world
826    826  2015-03   Vodafone       mobile
827    827  2015-03       data         data
828    828  2015-03      world        world
829    829  2015-03      world        world

[830 rows x 4 columns]

In [67]:
df_pr.iloc[0:10, :] #select the first 10 rows

   index            date  duration  item    month    network network_type
0      0  15/10/14 06:58    34.429  data  2014-11       data         data
1      1  15/10/14 06:58    13.000  call  2014-11   Vodafone       mobile
2      2  15/10/14 14:46    23.000  call  2014-11     Meteor       mobile
3      3  15/10/14 14:48     4.000  call  2014-11      Tesco       mobile
4      4  15/10/14 17:27     4.000  call  2014-11      Tesco       mobile
5      5  15/10/14 18:55     4.000  call  2014-11      Tesco       mobile
6      6  16/10/14 06:58    34.429  data  2014-11       data         data
7      7  16/10/14 15:01   602.000  call  2014-11      Three       mobile
8      8  16/10/14 15:12  1050.000  call  2014-11      Three       mobile
9      9  16/10/14 15:30    19.000  call  2014-11  voicemail    voicemail

In [99]:
#logical based row selection using evaluated statements
vodafone = df_pr[df_pr['network'] == 'Vodafone'] #select the rows where the number value is vodafone
call = df_pr[df_pr['item'] == 'call'] #select the rows where the item is call

In [100]:
call

,index,date,duration,item,month,network,network_type
1,1,2014-10-15 06:58:00,13.0,call,2014-11,Vodafone,mobile
2,2,2014-10-15 14:46:00,23.0,call,2014-11,Meteor,mobile
3,3,2014-10-15 14:48:00,4.0,call,2014-11,Tesco,mobile
4,4,2014-10-15 17:27:00,4.0,call,2014-11,Tesco,mobile
5,5,2014-10-15 18:55:00,4.0,call,2014-11,Tesco,mobile
7,7,2014-10-16 15:01:00,602.0,call,2014-11,Three,mobile
8,8,2014-10-16 15:12:00,1050.0,call,2014-11,Three,mobile
9,9,2014-10-16 15:30:00,19.0,call,2014-11,voicemail,voicemail
10,10,2014-10-16 16:21:00,1183.0,call,2014-11,Three,mobile
19,19,2014-10-17 17:26:00,92.0,call,2014-11,Three,mobile
20,20,2014-10-17 17:29:00,4.0,call,2014-11,Vodafone,mobile
21,21,2014-10-17 17:30:00,375.0,call,2014-11,Tesco,mobile
27,27,2014-10-18 11:51:00,783.0,call,2014-11,Tesco,mobile
28,28,2014-10-18 12:06:00,4.0,call,2014-11,Vodafone,mobile
29,29,2014-10-18 12:06:00,3.0,call,2014-11,Vodafone,mobile
30,30,2014-10-18 13:08:00,101.0,call,2014-11,Vodafone,mobile
31,31,2014-10-18 13:10:00,1714.0,call,2014-11,Three,mobile
32,32,2014-10-18 14:01:00,96.0,call,2014-11,voicemail,voicemail
34,34,2014-10-18 20:44:00,384.0,call,2014-11,Three,mobile
35,35,2014-10-18 21:04:00,4.0,call,2014-11,Three,mobile
40,40,2014-10-19 14:47:00,53.0,call,2014-11,Three,mobile
41,41,2014-10-19 15:46:00,86.0,call,2014-11,Tesco,mobile
42,42,2014-10-19 16:21:00,23.0,call,2014-11,Three,mobile
43,43,2014-10-19 16:30:00,38.0,call,2014-11,Three,mobile
44,44,2014-10-19 20:25:00,428.0,call,2014-11,Three,mobile
46,46,2014-10-20 09:43:00,69.0,call,2014-11,voicemail,voicemail
47,47,2014-10-20 09:43:00,18.0,call,2014-11,voicemail,voicemail
48,48,2014-10-20 13:55:00,3.0,call,2014-11,Vodafone,mobile
49,49,2014-10-20 13:56:00,6.0,call,2014-11,landline,landline
50,50,2014-10-20 18:14:00,5.0,call,2014-11,Tesco,mobile
...,...,...,...,...,...,...,...
769,769,2015-02-25 13:26:00,194.0,call,2015-03,Tesco,mobile
770,770,2015-02-25 13:46:00,229.0,call,2015-03,Tesco,mobile
771,771,2015-02-25 15:45:00,32.0,call,2015-03,Vodafone,mobile
773,773,2015-02-26 16:38:00,570.0,call,2015-03,Vodafone,mobile
774,774,2015-02-26 22:34:00,29.0,call,2015-03,voicemail,voicemail
776,776,2015-02-27 13:50:00,27.0,call,2015-03,Three,mobile
777,777,2015-02-27 14:33:00,107.0,call,2015-03,Three,mobile
778,778,2015-02-27 14:36:00,128.0,call,2015-03,Vodafone,mobile
780,780,2015-02-28 14:09:00,335.0,call,2015-03,landline,landline
781,781,2015-02-28 14:57:00,49.0,call,2015-03,Meteor,mobile
782,782,2015-02-28 15:09:00,5.0,call,2015-03,Three,mobile
783,783,2015-02-28 15:49:00,305.0,call,2015-03,landline,landline
784,784,2015-02-28 16:00:00,207.0,call,2015-03,landline,landline
785,785,2015-02-28 17:13:00,11.0,call,2015-03,landline,landline
786,786,2015-02-28 17:14:00,3.0,call,2015-03,landline,landline
787,787,2015-02-28 17:17:00,33.0,call,2015-03,landline,landline
788,788,2015-02-28 21:25:00,357.0,call,2015-03,Three,mobile
792,792,2015-03-01 12:19:00,9.0,call,2015-03,Meteor,mobile
799,799,2015-03-02 13:07:00,463.0,call,2015-03,Three,mobile
800,800,2015-03-02 14:53:00,2.0,call,2015-03,voicemail,voicemail
801,801,2015-03-02 14:54:00,93.0,call,2015-03,voicemail,voicemail
802,802,2015-03-02 17:35:00,192.0,call,2015-03,Meteor,mobile
803,803,2015-03-02 20:48:00,34.0,call,2015-03,Tesco,mobile
805,805,2015-03-03 09:57:00,76.0,call,2015-03,landline,landline
806,806,2015-03-03 09:59:00,355.0,call,2015-03,Three,mobile
807,807,2015-03-03 10:12:00,745.0,call,2015-03,Vodafone,mobile
808,808,2015-03-03 10:27:00,57.0,call,2015-03,Vodafone,mobile
809,809,2015-03-03 14:34:00,1325.0,call,2015-03,Vodafone,mobile
810,810,2015-03-03 18:36:00,768.0,call,2015-03,Three,mobile
816,816,2015-03-04 12:29:00,10528.0,call,2015-03,landline,landline

In [101]:
#Deleting Columns - delete 'month' fromt the dataframe call
call1 = call.drop("month", axis =1)
call1.head()

   index                date  duration  item   network network_type
1      1 2014-10-15 06:58:00      13.0  call  Vodafone       mobile
2      2 2014-10-15 14:46:00      23.0  call    Meteor       mobile
3      3 2014-10-15 14:48:00       4.0  call     Tesco       mobile
4      4 2014-10-15 17:27:00       4.0  call     Tesco       mobile
5      5 2014-10-15 18:55:00       4.0  call     Tesco       mobile

In [85]:
call1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 388 entries, 1 to 816
Data columns (total 6 columns):
index           388 non-null int64
date            388 non-null object
duration        388 non-null float64
item            388 non-null object
network         388 non-null object
network_type    388 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 21.2+ KB

In [91]:
df_pr.head()

   index                date  duration  item    month   network network_type
0      0 2014-10-15 06:58:00    34.429  data  2014-11      data         data
1      1 2014-10-15 06:58:00    13.000  call  2014-11  Vodafone       mobile
2      2 2014-10-15 14:46:00    23.000  call  2014-11    Meteor       mobile
3      3 2014-10-15 14:48:00     4.000  call  2014-11     Tesco       mobile
4      4 2014-10-15 17:27:00     4.000  call  2014-11     Tesco       mobile

In [102]:
#Delete the duration column from the dataframe using 'inplace function'
#Note that the original data will be changed when inplace = True
call.drop('duration', axis=1, inplace=True)

In [103]:
call

     index                date  item    month    network network_type
1        1 2014-10-15 06:58:00  call  2014-11   Vodafone       mobile
2        2 2014-10-15 14:46:00  call  2014-11     Meteor       mobile
3        3 2014-10-15 14:48:00  call  2014-11      Tesco       mobile
4        4 2014-10-15 17:27:00  call  2014-11      Tesco       mobile
5        5 2014-10-15 18:55:00  call  2014-11      Tesco       mobile
7        7 2014-10-16 15:01:00  call  2014-11      Three       mobile
8        8 2014-10-16 15:12:00  call  2014-11      Three       mobile
9        9 2014-10-16 15:30:00  call  2014-11  voicemail    voicemail
10      10 2014-10-16 16:21:00  call  2014-11      Three       mobile
19      19 2014-10-17 17:26:00  call  2014-11      Three       mobile
20      20 2014-10-17 17:29:00  call  2014-11   Vodafone       mobile
21      21 2014-10-17 17:30:00  call  2014-11      Tesco       mobile
27      27 2014-10-18 11:51:00  call  2014-11      Tesco       mobile
28      28 2014-10-18 12:06:00  call  2014-11   Vodafone       mobile
29      29 2014-10-18 12:06:00  call  2014-11   Vodafone       mobile
30      30 2014-10-18 13:08:00  call  2014-11   Vodafone       mobile
31      31 2014-10-18 13:10:00  call  2014-11      Three       mobile
32      32 2014-10-18 14:01:00  call  2014-11  voicemail    voicemail
34      34 2014-10-18 20:44:00  call  2014-11      Three       mobile
35      35 2014-10-18 21:04:00  call  2014-11      Three       mobile
40      40 2014-10-19 14:47:00  call  2014-11      Three       mobile
41      41 2014-10-19 15:46:00  call  2014-11      Tesco       mobile
42      42 2014-10-19 16:21:00  call  2014-11      Three       mobile
43      43 2014-10-19 16:30:00  call  2014-11      Three       mobile
44      44 2014-10-19 20:25:00  call  2014-11      Three       mobile
46      46 2014-10-20 09:43:00  call  2014-11  voicemail    voicemail
47      47 2014-10-20 09:43:00  call  2014-11  voicemail    voicemail
48      48 2014-10-20 13:55:00  call  2014-11   Vodafone       mobile
49      49 2014-10-20 13:56:00  call  2014-11   landline     landline
50      50 2014-10-20 18:14:00  call  2014-11      Tesco       mobile
..     ...                 ...   ...      ...        ...          ...
769    769 2015-02-25 13:26:00  call  2015-03      Tesco       mobile
770    770 2015-02-25 13:46:00  call  2015-03      Tesco       mobile
771    771 2015-02-25 15:45:00  call  2015-03   Vodafone       mobile
773    773 2015-02-26 16:38:00  call  2015-03   Vodafone       mobile
774    774 2015-02-26 22:34:00  call  2015-03  voicemail    voicemail
776    776 2015-02-27 13:50:00  call  2015-03      Three       mobile
777    777 2015-02-27 14:33:00  call  2015-03      Three       mobile
778    778 2015-02-27 14:36:00  call  2015-03   Vodafone       mobile
780    780 2015-02-28 14:09:00  call  2015-03   landline     landline
781    781 2015-02-28 14:57:00  call  2015-03     Meteor       mobile
782    782 2015-02-28 15:09:00  call  2015-03      Three       mobile
783    783 2015-02-28 15:49:00  call  2015-03   landline     landline
784    784 2015-02-28 16:00:00  call  2015-03   landline     landline
785    785 2015-02-28 17:13:00  call  2015-03   landline     landline
786    786 2015-02-28 17:14:00  call  2015-03   landline     landline
787    787 2015-02-28 17:17:00  call  2015-03   landline     landline
788    788 2015-02-28 21:25:00  call  2015-03      Three       mobile
792    792 2015-03-01 12:19:00  call  2015-03     Meteor       mobile
799    799 2015-03-02 13:07:00  call  2015-03      Three       mobile
800    800 2015-03-02 14:53:00  call  2015-03  voicemail    voicemail
801    801 2015-03-02 14:54:00  call  2015-03  voicemail    voicemail
802    802 2015-03-02 17:35:00  call  2015-03     Meteor       mobile
803    803 2015-03-02 20:48:00  call  2015-03      Tesco       mobile
805    805 2015-03-03 09:57:00  call  2015-03   landline     landline
806    806 2015-03-03 09:59:00  call  2015-03      Three       mobile
807    807 2015-03-03 10:12:00  call  2015-03   Vodafone       mobile
808    808 2015-03-03 10:27:00  call  2015-03   Vodafone       mobile
809    809 2015-03-03 14:34:00  call  2015-03   Vodafone       mobile
810    810 2015-03-03 18:36:00  call  2015-03      Three       mobile
816    816 2015-03-04 12:29:00  call  2015-03   landline     landline

[388 rows x 6 columns]

In [105]:
call.drop([807, 808], axis=0) #Deleting rows

     index                date  item    month    network network_type
1        1 2014-10-15 06:58:00  call  2014-11   Vodafone       mobile
2        2 2014-10-15 14:46:00  call  2014-11     Meteor       mobile
3        3 2014-10-15 14:48:00  call  2014-11      Tesco       mobile
4        4 2014-10-15 17:27:00  call  2014-11      Tesco       mobile
5        5 2014-10-15 18:55:00  call  2014-11      Tesco       mobile
7        7 2014-10-16 15:01:00  call  2014-11      Three       mobile
8        8 2014-10-16 15:12:00  call  2014-11      Three       mobile
9        9 2014-10-16 15:30:00  call  2014-11  voicemail    voicemail
10      10 2014-10-16 16:21:00  call  2014-11      Three       mobile
19      19 2014-10-17 17:26:00  call  2014-11      Three       mobile
20      20 2014-10-17 17:29:00  call  2014-11   Vodafone       mobile
21      21 2014-10-17 17:30:00  call  2014-11      Tesco       mobile
27      27 2014-10-18 11:51:00  call  2014-11      Tesco       mobile
28      28 2014-10-18 12:06:00  call  2014-11   Vodafone       mobile
29      29 2014-10-18 12:06:00  call  2014-11   Vodafone       mobile
30      30 2014-10-18 13:08:00  call  2014-11   Vodafone       mobile
31      31 2014-10-18 13:10:00  call  2014-11      Three       mobile
32      32 2014-10-18 14:01:00  call  2014-11  voicemail    voicemail
34      34 2014-10-18 20:44:00  call  2014-11      Three       mobile
35      35 2014-10-18 21:04:00  call  2014-11      Three       mobile
40      40 2014-10-19 14:47:00  call  2014-11      Three       mobile
41      41 2014-10-19 15:46:00  call  2014-11      Tesco       mobile
42      42 2014-10-19 16:21:00  call  2014-11      Three       mobile
43      43 2014-10-19 16:30:00  call  2014-11      Three       mobile
44      44 2014-10-19 20:25:00  call  2014-11      Three       mobile
46      46 2014-10-20 09:43:00  call  2014-11  voicemail    voicemail
47      47 2014-10-20 09:43:00  call  2014-11  voicemail    voicemail
48      48 2014-10-20 13:55:00  call  2014-11   Vodafone       mobile
49      49 2014-10-20 13:56:00  call  2014-11   landline     landline
50      50 2014-10-20 18:14:00  call  2014-11      Tesco       mobile
..     ...                 ...   ...      ...        ...          ...
763    763 2015-02-25 12:58:00  call  2015-03   Vodafone       mobile
764    764 2015-02-25 13:15:00  call  2015-03      Three       mobile
769    769 2015-02-25 13:26:00  call  2015-03      Tesco       mobile
770    770 2015-02-25 13:46:00  call  2015-03      Tesco       mobile
771    771 2015-02-25 15:45:00  call  2015-03   Vodafone       mobile
773    773 2015-02-26 16:38:00  call  2015-03   Vodafone       mobile
774    774 2015-02-26 22:34:00  call  2015-03  voicemail    voicemail
776    776 2015-02-27 13:50:00  call  2015-03      Three       mobile
777    777 2015-02-27 14:33:00  call  2015-03      Three       mobile
778    778 2015-02-27 14:36:00  call  2015-03   Vodafone       mobile
780    780 2015-02-28 14:09:00  call  2015-03   landline     landline
781    781 2015-02-28 14:57:00  call  2015-03     Meteor       mobile
782    782 2015-02-28 15:09:00  call  2015-03      Three       mobile
783    783 2015-02-28 15:49:00  call  2015-03   landline     landline
784    784 2015-02-28 16:00:00  call  2015-03   landline     landline
785    785 2015-02-28 17:13:00  call  2015-03   landline     landline
786    786 2015-02-28 17:14:00  call  2015-03   landline     landline
787    787 2015-02-28 17:17:00  call  2015-03   landline     landline
788    788 2015-02-28 21:25:00  call  2015-03      Three       mobile
792    792 2015-03-01 12:19:00  call  2015-03     Meteor       mobile
799    799 2015-03-02 13:07:00  call  2015-03      Three       mobile
800    800 2015-03-02 14:53:00  call  2015-03  voicemail    voicemail
801    801 2015-03-02 14:54:00  call  2015-03  voicemail    voicemail
802    802 2015-03-02 17:35:00  call  2015-03     Meteor       mobile
803    803 2015-03-02 20:48:00  call  2015-03      Tesco       mobile
805    805 2015-03-03 09:57:00  call  2015-03   landline     landline
806    806 2015-03-03 09:59:00  call  2015-03      Three       mobile
809    809 2015-03-03 14:34:00  call  2015-03   Vodafone       mobile
810    810 2015-03-03 18:36:00  call  2015-03      Three       mobile
816    816 2015-03-04 12:29:00  call  2015-03   landline     landline

[386 rows x 6 columns]

In [107]:
 #Delete the first 5 rows using the iloc selector
call3 = call.iloc[5:,]
call3

     index                date  item    month    network network_type
7        7 2014-10-16 15:01:00  call  2014-11      Three       mobile
8        8 2014-10-16 15:12:00  call  2014-11      Three       mobile
9        9 2014-10-16 15:30:00  call  2014-11  voicemail    voicemail
10      10 2014-10-16 16:21:00  call  2014-11      Three       mobile
19      19 2014-10-17 17:26:00  call  2014-11      Three       mobile
20      20 2014-10-17 17:29:00  call  2014-11   Vodafone       mobile
21      21 2014-10-17 17:30:00  call  2014-11      Tesco       mobile
27      27 2014-10-18 11:51:00  call  2014-11      Tesco       mobile
28      28 2014-10-18 12:06:00  call  2014-11   Vodafone       mobile
29      29 2014-10-18 12:06:00  call  2014-11   Vodafone       mobile
30      30 2014-10-18 13:08:00  call  2014-11   Vodafone       mobile
31      31 2014-10-18 13:10:00  call  2014-11      Three       mobile
32      32 2014-10-18 14:01:00  call  2014-11  voicemail    voicemail
34      34 2014-10-18 20:44:00  call  2014-11      Three       mobile
35      35 2014-10-18 21:04:00  call  2014-11      Three       mobile
40      40 2014-10-19 14:47:00  call  2014-11      Three       mobile
41      41 2014-10-19 15:46:00  call  2014-11      Tesco       mobile
42      42 2014-10-19 16:21:00  call  2014-11      Three       mobile
43      43 2014-10-19 16:30:00  call  2014-11      Three       mobile
44      44 2014-10-19 20:25:00  call  2014-11      Three       mobile
46      46 2014-10-20 09:43:00  call  2014-11  voicemail    voicemail
47      47 2014-10-20 09:43:00  call  2014-11  voicemail    voicemail
48      48 2014-10-20 13:55:00  call  2014-11   Vodafone       mobile
49      49 2014-10-20 13:56:00  call  2014-11   landline     landline
50      50 2014-10-20 18:14:00  call  2014-11      Tesco       mobile
51      51 2014-10-20 18:24:00  call  2014-11   Vodafone       mobile
55      55 2014-10-21 16:17:00  call  2014-11      Three       mobile
57      57 2014-10-22 12:04:00  call  2014-11      Three       mobile
59      59 2014-10-23 08:34:00  call  2014-11   landline     landline
60      60 2014-10-23 09:45:00  call  2014-11     Meteor       mobile
..     ...                 ...   ...      ...        ...          ...
769    769 2015-02-25 13:26:00  call  2015-03      Tesco       mobile
770    770 2015-02-25 13:46:00  call  2015-03      Tesco       mobile
771    771 2015-02-25 15:45:00  call  2015-03   Vodafone       mobile
773    773 2015-02-26 16:38:00  call  2015-03   Vodafone       mobile
774    774 2015-02-26 22:34:00  call  2015-03  voicemail    voicemail
776    776 2015-02-27 13:50:00  call  2015-03      Three       mobile
777    777 2015-02-27 14:33:00  call  2015-03      Three       mobile
778    778 2015-02-27 14:36:00  call  2015-03   Vodafone       mobile
780    780 2015-02-28 14:09:00  call  2015-03   landline     landline
781    781 2015-02-28 14:57:00  call  2015-03     Meteor       mobile
782    782 2015-02-28 15:09:00  call  2015-03      Three       mobile
783    783 2015-02-28 15:49:00  call  2015-03   landline     landline
784    784 2015-02-28 16:00:00  call  2015-03   landline     landline
785    785 2015-02-28 17:13:00  call  2015-03   landline     landline
786    786 2015-02-28 17:14:00  call  2015-03   landline     landline
787    787 2015-02-28 17:17:00  call  2015-03   landline     landline
788    788 2015-02-28 21:25:00  call  2015-03      Three       mobile
792    792 2015-03-01 12:19:00  call  2015-03     Meteor       mobile
799    799 2015-03-02 13:07:00  call  2015-03      Three       mobile
800    800 2015-03-02 14:53:00  call  2015-03  voicemail    voicemail
801    801 2015-03-02 14:54:00  call  2015-03  voicemail    voicemail
802    802 2015-03-02 17:35:00  call  2015-03     Meteor       mobile
803    803 2015-03-02 20:48:00  call  2015-03      Tesco       mobile
805    805 2015-03-03 09:57:00  call  2015-03   landline     landline
806    806 2015-03-03 09:59:00  call  2015-03      Three       mobile
807    807 2015-03-03 10:12:00  call  2015-03   Vodafone       mobile
808    808 2015-03-03 10:27:00  call  2015-03   Vodafone       mobile
809    809 2015-03-03 14:34:00  call  2015-03   Vodafone       mobile
810    810 2015-03-03 18:36:00  call  2015-03      Three       mobile
816    816 2015-03-04 12:29:00  call  2015-03   landline     landline

[383 rows x 6 columns]

In [109]:
#Renaming columns using a dictionary
#Rename 'item' to 'mobile'
call4 = call.rename(columns={'item': 'mobile'})
call4

     index                date mobile    month    network network_type
1        1 2014-10-15 06:58:00   call  2014-11   Vodafone       mobile
2        2 2014-10-15 14:46:00   call  2014-11     Meteor       mobile
3        3 2014-10-15 14:48:00   call  2014-11      Tesco       mobile
4        4 2014-10-15 17:27:00   call  2014-11      Tesco       mobile
5        5 2014-10-15 18:55:00   call  2014-11      Tesco       mobile
7        7 2014-10-16 15:01:00   call  2014-11      Three       mobile
8        8 2014-10-16 15:12:00   call  2014-11      Three       mobile
9        9 2014-10-16 15:30:00   call  2014-11  voicemail    voicemail
10      10 2014-10-16 16:21:00   call  2014-11      Three       mobile
19      19 2014-10-17 17:26:00   call  2014-11      Three       mobile
20      20 2014-10-17 17:29:00   call  2014-11   Vodafone       mobile
21      21 2014-10-17 17:30:00   call  2014-11      Tesco       mobile
27      27 2014-10-18 11:51:00   call  2014-11      Tesco       mobile
28      28 2014-10-18 12:06:00   call  2014-11   Vodafone       mobile
29      29 2014-10-18 12:06:00   call  2014-11   Vodafone       mobile
30      30 2014-10-18 13:08:00   call  2014-11   Vodafone       mobile
31      31 2014-10-18 13:10:00   call  2014-11      Three       mobile
32      32 2014-10-18 14:01:00   call  2014-11  voicemail    voicemail
34      34 2014-10-18 20:44:00   call  2014-11      Three       mobile
35      35 2014-10-18 21:04:00   call  2014-11      Three       mobile
40      40 2014-10-19 14:47:00   call  2014-11      Three       mobile
41      41 2014-10-19 15:46:00   call  2014-11      Tesco       mobile
42      42 2014-10-19 16:21:00   call  2014-11      Three       mobile
43      43 2014-10-19 16:30:00   call  2014-11      Three       mobile
44      44 2014-10-19 20:25:00   call  2014-11      Three       mobile
46      46 2014-10-20 09:43:00   call  2014-11  voicemail    voicemail
47      47 2014-10-20 09:43:00   call  2014-11  voicemail    voicemail
48      48 2014-10-20 13:55:00   call  2014-11   Vodafone       mobile
49      49 2014-10-20 13:56:00   call  2014-11   landline     landline
50      50 2014-10-20 18:14:00   call  2014-11      Tesco       mobile
..     ...                 ...    ...      ...        ...          ...
769    769 2015-02-25 13:26:00   call  2015-03      Tesco       mobile
770    770 2015-02-25 13:46:00   call  2015-03      Tesco       mobile
771    771 2015-02-25 15:45:00   call  2015-03   Vodafone       mobile
773    773 2015-02-26 16:38:00   call  2015-03   Vodafone       mobile
774    774 2015-02-26 22:34:00   call  2015-03  voicemail    voicemail
776    776 2015-02-27 13:50:00   call  2015-03      Three       mobile
777    777 2015-02-27 14:33:00   call  2015-03      Three       mobile
778    778 2015-02-27 14:36:00   call  2015-03   Vodafone       mobile
780    780 2015-02-28 14:09:00   call  2015-03   landline     landline
781    781 2015-02-28 14:57:00   call  2015-03     Meteor       mobile
782    782 2015-02-28 15:09:00   call  2015-03      Three       mobile
783    783 2015-02-28 15:49:00   call  2015-03   landline     landline
784    784 2015-02-28 16:00:00   call  2015-03   landline     landline
785    785 2015-02-28 17:13:00   call  2015-03   landline     landline
786    786 2015-02-28 17:14:00   call  2015-03   landline     landline
787    787 2015-02-28 17:17:00   call  2015-03   landline     landline
788    788 2015-02-28 21:25:00   call  2015-03      Three       mobile
792    792 2015-03-01 12:19:00   call  2015-03     Meteor       mobile
799    799 2015-03-02 13:07:00   call  2015-03      Three       mobile
800    800 2015-03-02 14:53:00   call  2015-03  voicemail    voicemail
801    801 2015-03-02 14:54:00   call  2015-03  voicemail    voicemail
802    802 2015-03-02 17:35:00   call  2015-03     Meteor       mobile
803    803 2015-03-02 20:48:00   call  2015-03      Tesco       mobile
805    805 2015-03-03 09:57:00   call  2015-03   landline     landline
806    806 2015-03-03 09:59:00   call  2015-03      Three       mobile
807    807 2015-03-03 10:12:00   call  2015-03   Vodafone       mobile
808    808 2015-03-03 10:27:00   call  2015-03   Vodafone       mobile
809    809 2015-03-03 14:34:00   call  2015-03   Vodafone       mobile
810    810 2015-03-03 18:36:00   call  2015-03      Three       mobile
816    816 2015-03-04 12:29:00   call  2015-03   landline     landline

[388 rows x 6 columns]